
UnityProject/Assets/Prefabs/IceTemple.prefab
UnityProject/Assets/Scenes/Jon Fire level/LightingData.asset
UnityProject/Assets/Scenes/Overworld.unity
UnityProject/Assets/Scenes/Overworld/OcclusionCullingData.asset
UnityProject/Assets/Scenes/PhantomTemple.unity
